/* GLOBAL STYLES
-------------------------------------------------- */

.navbar-default {
    box-shadow: none;
    background-color: #FFF;
    border: none;
    min-height: 90px;
    padding-top: 20px;
    transition: 0.65s all ease;
}

.effect {
    min-height: 60px;
    -webkit-box-shadow: 0 10px 10px -10px #777;
    -moz-box-shadow: 0 10px 10px -10px #777;
    box-shadow: 0 10px 10px -10px #777;
    padding-top: 5px;
}

.nav>li>a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    font-size: 1.3em;
}

.nav>li.active {
    background-color: #000;
    transition: 0.65s all ease;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color: #00d664;
}


/*Services section*/

h3, .marketing p {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.marketing p {
    margin: 0px;
    font-weight: 400;
}

.text2div {
    margin-top: 20px;
}

#section-marketing {
    background-color: #00d664;
}

#section-marketing h3 {
    color: #FFF;
    padding-top: 70px;
    padding-bottom: 70px;
}

#section-marketing h3:after {
    top: 15px;
    left: 50%;
    bottom: 0;
    position: relative;
    content: '';
    display: inherit;
    border: 1px solid #80EBB2;
    width: 35px;
    transform: translateX(-50%);
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.marketing .panel1 {
    padding-top: 30px;
}

.marketing .panel1 #services-arrow {
    opacity: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 25px;
}

.marketing .panel1 #services-icon {
    width: 100px;
    padding: 20px;
    padding-bottom: 10px;
}

.marketing .panel1 {
    background-color: #00d664;
    border-radius: 3px;
}

.marketing .panel1 #text1 {
    color: #fff;
}

.marketing .panel1 #text2 {
    opacity: 0;
    color: #fff;
}

.marketing .panel1:hover {
    background-color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.marketing .panel1:hover #text1 {
    color: #000;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.marketing .panel1:hover #text2 {
    opacity: 1;
    color: #A0A0A0;
    transition-property: opacity, color;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.marketing .panel1:hover .web {
    content: url("../img/n_web_hover.png");
}

.marketing .panel1:hover .mobile {
    content: url("../img/n_mobile_hover.png");
}

.marketing .panel1:hover .design {
    content: url("../img/n_design_hover.png");
}

.marketing .panel1:hover #services-arrow {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.effect2:hover {
    position: relative;
    transition-property: position;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}

.effect2:hover:before, .effect2:hover:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #777;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 15px 10px #777;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

.effect2:hover:after {
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border: none;
    background-color: #00d664;
    margin-bottom: 30px;
}

.btn-responsive a {}


/*
====================================
Carousel
*/

.carousel {
    height: 300px;
    max-width: 1140px;
    margin: 100px auto 50px auto;
}

.carousel .item {
    height: 300px;
    background-color: #fff;
}

.carousel-caption {
    bottom: 45px;
}

.carousel-caption h1, h3 {
    text-shadow: none;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 15px;
    text-transform: uppercase;
    color: #a2a2a2;
    text-align: center;
}

h3:after {
    top: 15px;
    left: 50%;
    bottom: 0;
    position: relative;
    content: '';
    display: inherit;
    border: 1px solid #00d664;
    width: 35px;
    transform: translateX(-50%);
}

.carousel-caption h1 {
    font-size: 40px;
    color: #000;
    margin-top: 50px;
}

.carousel-control img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    display: inline-block;
    width: 40px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
}

.carousel-control.left img {
    transform: rotate(180deg);
    width: 35px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

.carousel-control.left img:hover {
    content: url("../img/arrow.png");
}

.carousel-control.right {
    margin-right: 0px;
}

.carousel-control.right img {
    width: 35px;
}

.carousel-control.right img:hover {
    content: url("../img/arrow.png");
}


/***************indicators**************/

.carousel-indicators {
    position: absolute;
    bottom: 10px;
}

.carousel-indicators li {
    background-color: #d8d8d8;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border: none;
    margin-left: 15px;
}

.carousel-indicators .active {
    background-color: #00d664;
    width: 9px;
    height: 9px;
    margin-left: 15px;
}

.carousel-indicators li:hover {
    background-color: #00d664;
    width: 9px;
    height: 9px;
    margin-left: 15px;
}


/***************indicators**************/

.carousel-indicators {
    position: absolute;
    bottom: 10px;
}

.carousel-indicators li {
    background-color: #d8d8d8;
    margin-left: 10px;
    width: 9px;
    height: 9px;
    border: none;
    margin-left: 15px;
}

.carousel-indicators .active {
    background-color: #00d664;
    width: 9px;
    height: 9px;
    margin-left: 15px;
}

.carousel-indicators li:hover {
    background-color: #00d664;
    width: 9px;
    height: 9px;
    margin-left: 15px;
}


/***************indicators**************/


/****************
success-stories
*/

#success-stories {
    background-color: #FAFAFA;
}

#success-stories .stat-item {
    text-align: center;
}

#success-stories .container-fluid {
    margin-top: 50px;
}

#success-stories img {
    width: 555px;
}

#success-stories h1 {
    font-size: 36px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
}

#stat-item-group {
    margin-top: 70px;
}

#success-stories h3 {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#success-stories h2 {
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
    margin-top: 45px;
    margin-bottom: 45px;
}

#success-stories p {
    font-size: 15px;
    color: #a2a2a2;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
}

#success-stories a {
    background-color: transparent;
    color: #00d664;
    text-decoration: underline;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 28px;
}

#success-stories .stat-item:first-of-type {
    border-right: 1px solid #e5e5e5;
}

#success-stories h1:after {
    top: 15px;
    position: absolute;
    width: 24px;
    height: 38px;
    margin-left: 12px;
    display: inline-block;
    content: ' ';
    background: url("../img/arrow.png") center no-repeat;
    background-size: contain;
    transform: rotate(-90deg);
}


/****************
end success-stories
*/


/****features*/

#section-features {
    padding-top: 120px;
    padding-bottom: 60px;
}

#section-features h1 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    color: #00d664;
}

#section-features p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#section-features .separator {
    border-right: 1px solid #e5e5e5;
}

#section-features .features-item {
    text-align: center;
}

#section-features .features-item img {
    height: 45px;
}


/***end features**/


/****testimonials******/

#section-testimonials {
    background: #FAFAFA url("../img/ng_sign_bg_gray_dark.png") no-repeat;
    background-attachment: fixed;
    background-position: 75% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 350px auto;
    margin-top: 60px;
}

#section-testimonials h3 {
    padding-top: 70px;
}

#section-testimonials .testimonials-content {
    background-color: #FFF;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

#section-testimonials .testimonials-content img {
    position: relative;
    top: -40px;
}

#section-testimonials .content {
    width: 767px;
}

#section-testimonials .content img {
    width: 80px;
}

#section-testimonials h1 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    line-height: 28px;
    margin-bottom: 0px;
}

#section-testimonials h2 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #A2A2A2;
    line-height: 28px;
    margin-top: 0px;
}

#section-testimonials p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #7E7E7E;
    line-height: 28px;
    margin-top: 25px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 40px;
}

.effect3 {
    -webkit-box-shadow: 0 10px 10px -10px #777;
    -moz-box-shadow: 0 10px 10px -10px #777;
    box-shadow: 0 10px 10px -10px #777;
}


/*end testimonials************/


/****projects*/

#section-projects img {
    height: 45px;
}

#section-projects h3 {
    padding-top: 70px;
}

#section-projects .content {
    padding-top: 70px;
    padding-bottom: 70px;
}


/***end projects*****/


/**resources***/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#section-resources .resources {
    margin-top: 70px;
}

#section-resources .text1div {
    background-color: #3D86C7;
    position: relative;
    top: 0;
    left: 0;
}

#section-resources .text1div img {
    margin: 0 auto;
}

#section-resources #text1 {
    color: #000;
    margin-bottom: 0px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#section-resources #text2 {
    color: #A2A2A2;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#section-resources .text1div #arrow-icon {
    opacity: 0;
    width: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

#section-resources .panel1:hover #arrow-icon {
    opacity: 1;
}

#section-resources .panel1:hover .text1div {
    background-color: #00d664;
}

#section-resources .panel1:hover img {
    opacity: 0;
}

#section-resources .panel1:hover #text1 {
    color: #00d664;
}

@media (max-width: 768px) {
    .carousel-caption h3 {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 1.4;
    }
    .carousel-caption h1 {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 1.4;
    }
    #success-stories h1:after {
        top: -4px;
    }
    #section-testimonials .content {
        width: auto;
    }
    #section-resources #book-icon {
        margin-top: 14px;
    }
}


/**end resources***/


/******team***/

#section-team {
    margin-top: 70px;
    z-index: 0;
    background-color: #FAFAFA;
}

#section-team .team {
    position: relative;
    margin-top: 210px;
    z-index: 2;
}

#section-team h3 {
    padding-top: 70px;
}

#section-team h5 {
    font-size: 15vw;
    color: #A2A2A2;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: -10%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -3;
    opacity: 0.45;
}


/********end team*********/


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 768px) {
    .carousel-caption h3 {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 1.4;
    }
    .carousel-caption h1 {
        margin-bottom: 20px;
        font-size: 40px;
        line-height: 1.4;
    }
}

@media (max-width: 768px) {
    .carousel-caption h3 {
        margin-bottom: 20px;
        font-size: 13px;
        line-height: 1.4;
    }
    .carousel-caption h1 {
        margin-bottom: 20px;
        font-size: 25px;
        line-height: 1.4;
    }
    #success-stories h1:after {
        top: -4px;
    }
    #section-testimonials .content {
        width: auto;
    }
    #section-resources #book-icon {
        margin-top: 8px;
    }
    #section-team h5 {
        top: -60%;
    }
}


/****Given***/

@media(max-width:767px) {
    .navbar-default .navbar-collapse {
        border: none;
    }
    .navbar-collapse.in, .collapsing {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:hover {
        background: transparent;
    }
    .navbar-default .navbar-toggle:focus {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle {
        border: none;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #000;
    }
}

@media(min-width:768px) {}

@media(min-width:992px) {}

@media(min-width:1200px) {}
